<mat-toolbar color="primary" class="navbar" style="height: 120px;">
  <mat-nav-list>
    <a mat-list-item routerLink="/typography" style="display: inline-block; width:120px;">Typography</a>
    <a mat-list-item routerLink="/buttons" style="display: inline-block; width:100px;">Buttons</a>
    <a mat-list-item routerLink="/button-toggle" style="display: inline-block; width:150px;">Button toggle</a>
    <a mat-list-item routerLink="/icons" style="display: inline-block; width:100px;">Icons</a>
    <a mat-list-item routerLink="/badges" style="display: inline-block; width:100px;">Badges</a>
    <a mat-list-item routerLink="/progress-spinner" style="display: inline-block; width:150px;">Progress spinner</a>
    <a mat-list-item routerLink="/navbar" style="display: inline-block; width:100px;">Navbar</a>
    <a mat-list-item routerLink="/sidenav" style="display: inline-block; width:100px;">Sidenav</a>
    <a mat-list-item routerLink="/menu" style="display: inline-block; width:100px;">Menu</a>
    <a mat-list-item routerLink="/list" style="display: inline-block; width:100px;">List</a>
    <a mat-list-item routerLink="/grids" style="display: inline-block; width:100px;">Grids</a>
    <a mat-list-item routerLink="/expansion-panel" style="display: inline-block; width:150px;">Expansion panel</a>
    <a mat-list-item routerLink="/cards" style="display: inline-block; width:100px;">Cards</a>
    <a mat-list-item routerLink="/tabs" style="display: inline-block; width:100px;">Tabs</a>
    <a mat-list-item routerLink="/stepper" style="display: inline-block; width:100px;">Stepper</a>
    <a mat-list-item routerLink="/input" style="display: inline-block; width:80px;">Input</a>
    <a mat-list-item routerLink="/autocomplete" style="display: inline-block; width:120px;">Autocomplete</a>
    <br>
    <a mat-list-item routerLink="/check-and-radio" style="display: inline-block; width:170px;">Checkbox and radio</a>
    <a mat-list-item routerLink="/datepicker" style="display: inline-block; width:100px;">Datepicker</a>
    <a mat-list-item routerLink="/tooltip" style="display: inline-block; width:70px;">Tooltip</a>
    <a mat-list-item routerLink="/snackbar" style="display: inline-block; width:100px;">Snackbar</a>
  </mat-nav-list>
</mat-toolbar>
