<nav>
  <ul style="display: flex;">
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/typography">Typography</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/buttons">Buttons</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/button-toggle">Button toggle</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/icons">Icons</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/badges">Badges</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/progress-spinner">Progress spinner</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/navbar">Navbar</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/sidenav">Sidenav</a>
    </li>
    <li style="display: inline-block; margin: 2px;">
      <a routerLink="/menu">Menu</a>
    </li>
  </ul>
</nav>
